body {
  background-image: url("navidad.jpg");
}
.rodolfo {
	width: 277px;
	height: 450px;
	margin-left: 500px;
	margin-top: 160px;
	background: url('renito.png')left center;
	animation: play 3.1s steps(1) infinite;
}
@keyframes play{

0%{background-position: 0 0}
14% {background-position: -550px 0}
28%{background-position:-830px 0}
42%{background-position:-1100px 0}
56%{background-position:-1390px	 0}
70%{background-position:-1680px 0}
84%{background-position:-1950px 0}
}


/*.rodolfo {

animation: play .8s steps(10);
}*/

           





