body {
  background-image: url("navidad.jpg");
}
.rodolfo {
	width: 1956px;
	height: 500px;
	margin-left: -7px;
	margin-top: 160px;
	background: url('renito.png')left center;
	animation: play 5.1s steps(1) infinite;
}
@keyframes play{

1%{background-position: -120px 0}
16% {background-position: -500px 0}
50%{background-position:-960px 0}
80%{background-position:-1300px 0}
100%{background-position:-1956px 0}
}


/*.rodolfo {

animation: play .8s steps(10);
}*/

           





